build/
out/
*.dll
*.so
*.dylib
*.lib
*.a
*.exe
*.obj
*.o
*.pdb
*.ilk
*.exp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
.vs/
.idea/
*.user
